<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>History</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="1">
    <caption>Фильтр</caption>
    <tr>
        <th>Исходная валюта</th>
        <th>Целевая валюта</th>
        <th>Исходная сумма</th>
        <th>Получаемая сумма</th>
        <th>Дата</th>
    </tr>
    <tr th:each="el : ${model}"><td th:text="${el.charCode1}"/><td th:text="${el.charCode2}"/><td th:text="${el.oldSum}"/><td th:text="${el.newSum}"/><td th:text="${el.date}"/></tr>
</table> <br/>

<table>
    <tr>
        <td width="200">
            <a href="/main">Вернуться в ковертор</a>
        </td>
        <td>
            <a href="/history">Вернуться в историю</a>
        </td>
    </tr>
</table> <br/> <hr/> <br/>

<div>
    <form th:method="post" th:action="@{/logout}">
        <input type="submit" value="Выйти">
    </form>
</div>
</body>
</html>