<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h2>Авторизация: </h2>
<form th:action="@{/login}" th:method="post">
    <div><label> Логин : <input type="text" name="username" placeholder="Введите логин"/> </label></div> <br/>
    <div><label> Пароль: <input type="password" name="password" placeholder="Введите пароль"/> </label></div> <br/>
    <div><input type="submit" value="Войти"/></div>
</form>
</body>
</html>